{% extends 'web/base.html' %}
{% block content %}
<div class="container">
    <h1 class="mt-2">PRODUCT DETAIL</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Description</th>
          <th>Date added</th>
          <th>Recommended_items</th>
        </tr>
      </thead>
      <tbody>
              <tr>
              <th>{{ product.product_title }}</th>
              <th>{{ product.product_base_price}}</th>
              <th>{{ product.product_description}}</th>
              <th>{{ product.product_date_added}}</th>
              <th>
                {% for item in recommandation.recommended_items %}
                <a href="{% url 'product_detail' item %}" class="btn btn-primary">{{item}}</a>
                {% endfor %}
              </th>
                
{% endblock %}