
{% extends 'web/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-24 col-sm-12 col-md-12">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h3>
                          <th>{{Users.username}}</th></h3>
                        <h4><i class="glyphicon glyphicon-map-marker"></i><th>{{Users.location}}</th> <a href="update/location/">Update</a></cite></h4>
                        <h4>
                            <i class="glyphicon glyphicon-envelope"></i><th>{{Users.email}} <a href="update/email/">Update</a></th>
                        </h4>
                        <!-- Split button -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}